body {
            font-family: Arial, sans-serif;
            padding: 20px;
            margin: 20px;
            color: rgb(168, 60, 60);
            background-color: rgb(163, 199, 199); 
            transition: background-color 0.5s ease; 
        }

        header {
          font-size: x-large;
          padding: 10px 70px 20px;
          margin: 22px;
          outline: auto;
          margin: 30px;
          box-shadow: 0px 05px 32px #275591;
        }
.contenedor {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.holis {
  color: #a32a17;
  padding: auto;
  margin: 30px;
  text-align: left;
  background-color:rgb(137, 175, 166);
}
@media screen and (min-width: 700px) and (max-width: 999px) {
            body {
                background-color: #422a21; 
            }

            h1::before {
                content: "rdido un perro ";
            }
        }


        @media screen and (min-width: 1025px) {
            body {
                background-color: rgb(154, 207, 188); 
            }

            h1 {
                font-size: 2.5em; 
            }

            h1::before {
                content: "Te amo ";
            }
        }


